/* src/styles/globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'flowbite/dist/flowbite.min.css';
@import "tailwindcss";

body {
  background-color: #f3f4f6; /* A light gray background */
}